/*here the body classes will be available*/
body{
	/*margin: 0px
	padding:0px;*/
	background-color: #0e1124;
}
body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none;
}
.part{
	width: 100vw;
	height: 100vh;
	display: flex;
}
/*these is part-1 container class*/
.part1{
	margin-top: 50px;
	width:60vw;
	height: 100vh;
	background-color:#0e1124;
	/*border: 1px solid white;*/
	margin-left: 2%;
	margin-right: 2%
}
/*these is part-2 container class*/
.part2{
	margin-top: 50px;
	width: 30vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color:#0e1124;
	/*border: 1px solid white;*/
	margin-bottom: 20px;

}
/*navigation bar contains 1) logo 2)favorites 3)searchbar 4)bell botton 5)profile logo*/
/*navigation bar background*/
.nav-header{
	width: 100%;
	height: 7%;
	display: flex;
	flex-direction: row;
	position: relative;
	background-color: #0e1124;
	/*background-color: white;*/
	/*border: 1px solid white;*/
}
/*music player logo*/
.logo-img{
	width: 11%;
	height: 100%;
	margin-left: 2%;
	margin-top: 5px;
}
.logo-img img{
	width: 100%;
	height: 100%;
}

/*2)favorites*/
.nav-header p{
	font-size: 25px;
	margin-left:9%;
	margin-top: 20px;
	color: white;

}
.fontstyle{
	font-style: sans-serif;
}
.search-box{
	position: absolute;
	background:#1d2032;
	height: 30px;
	width: 17%;
	display: flex;
	margin-left: 65%;
	border-radius: 20px;
	margin-top: 20px;
}
.btn{
	color: white;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #1d2032;
	float: left;
	display: flex;
	justify-content: center;
	margin-left: 1%;
	align-items: center;
	text-decoration: none;
}
.btn a i{
	color: #8b8d97;
}

.search-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	color: white;
	margin-left: 0.5%;
	font-size: 16px;
	transition: 0.4s;
	
	
}
.search-txt input{
	padding: 5px;
	width: 80%;
	color: white;
	
	outline-style: none;
	border: none;
	margin-top: 2px;
	background-color: #1d2032;

}
.mico{
	color: white;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #1d2032;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	margin-left: 9%;
	margin-bottom: 10px;
}
.mico a i{
	color: grey;
}

.notification{
	font-size: 23px;
	margin-left: 58%;
}
.notification a i{
	color: #F1F7F7;
	margin-top: 23px;
}
.profile{
	height:4%;
	width: 4%;
	margin: auto;
}
.profile img{
	height: 100%;
	width: 100%;
	border-radius: 50%;

	
}
/*1.song container detail class details*/
.song-details{
	width: 100%;
	height: 50%;
	display: flex;
	/*background-color: red;	*/
	/*border: 1px solid white;*/
}
.song-image{
	width: 35%;
	height: 100%;
	/*border: 1px solid white;*/
}
.song-image img{
	width: 100%;
	height: 100%;
}
.song-information{
	width: 75%;
	height: 100%;
	display: flex;
	background-color: #181d38;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	flex-direction: column;
	/*border: 1px solid red;*/
}
.song-title-container{
	width: 100%;
	height: 18%;
	margin-top: 7%;
	display: flex;
	flex-direction: row;
	/*border: 1px solid white;*/
}
.song-title{
	width: 30%;
	height: 100%;
	margin-left: 25px;
	display: flex;
	flex-direction: column;
	/*border: 1px solid white;*/
}
#song-title-style{
	color: white;
	font-size: 27px;
	font-family: 'Quicksand',sans-serif;
	font-weight: bold;

}
#song-type-style{
	color: #4b5175;
}
.song-information-container{
	width: 95%;
	height: 25%;
	margin-left: 20px;

	/*border: 1px solid white;*/
}
.song-play-container{
	width: 100%;
	height: 15%;
	margin-top: 6%;
	display: flex;
	flex-direction: row;
	/*border: 1px solid white;*/
}
.followers-style{
	color: #3e4b97;
	margin-top: 10px;
	margin-left: 30%;
}
.song-imformation-style{
	color: #7178a2;
	font-size: 12px;
	font-family: sans-serif;
}

.button-style{
	width: 20%;
	height: 60%;
	border:none;
	background-image: linear-gradient(to left ,#363AD1 ,#EC73D7);
	margin-left: 20px;
	margin-top: 16px;
}
.follow-style{
	color: #b9afaf;
	font-size: 15px;
	font-family: 'Quicksand',sans-serif;
	margin-top: 24px;
	margin-left: 70px;
}
.little-info{
	margin-left: 22px;
	color: #b9afaf;
	font-size: 12px;
	font-family: 'Quicksand',sans-serif;
}

/*2. Similar-artists*/
.Similar-artists{
	width: 100%;
	height: 45%;
	display: flex;
	flex-direction: column;
	/*background-color: red;	*/
	/*border: 1px solid white;*/
}
.Queue_name{
	width: 100%;
	height: 14%;
	margin-bottom: 15px;
	/*border: 1px solid white;*/
	display: flex;
	flex-direction: row;
}
#Queue-design{
	color: white;
	font-size: 21px;
	margin-left: 20px;
	font-family: 'Quicksand',sans-serif;
	font-weight: bold;
}
#View-All{
	color: #cbc6c6;
	font-size: 12px;
	margin-top: 4px;
	margin-left: 40%;
	font-family: sans-serif;
}
#View-All-1{
	color: #cbc6c6;
	font-size: 12px;
	margin-top: 4px;
	margin-left: 140px;
	font-family: sans-serif;
}
.songs{
	width: 100%;
	height: 28%;
	/*border: 1px solid white;*/
	display: flex;
	flex-direction: row;
}
.queue-songs{
	width: 100%;
	height: 100%;
	/*border: 1px solid white;*/
	display: flex;
	/*background-color: yellow;*/
	flex-direction: column;
}

.song-img{
	margin-top: 3%;
	height: 74%;
	width: 14%;
	margin-left: 25px;
	/*border: 1px solid white;*/
}
.song-img img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.song-name{
	margin-top: 3%;
	height: 65%;
	width: 45%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	/*border: 1px solid white;*/
}
.favorite{
	margin-top: 3%;
	height: 65%;
	width: 13%;
	justify-content: center;
	flex-direction: column;
	/*border: 1px solid white;*/
}

/*3.menu bar*/
.menu-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.more-menu {
    width: 100px;
}
.more-btn,
.more-menu-btn {
    background: none;
    border: 0 none;
    line-height: normal;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 100%;
    text-align: left;
    outline: none;
    cursor: pointer;
}
.more-dot {
    background-color: #aab8c2;
    margin: 0 auto;
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 0.01px;
    border-radius: 50%;
    transition: background-color 0.3s;
}
.music-duration span{
	color: #bcb9b9;
	font-size: 13px;
	margin-left: 6px;
}


#album-name{
	color: white;
	font-size: 13px;
	margin-top: 5px;
	margin-left: 15px;
	font-family: 'Quicksand',sans-serif;
	font-weight: bold;
}
#artist-name{
	color: #cbc6c6;
	font-size: 12px;
	margin-top: 4px;
	margin-left: 15px;
	font-family: sans-serif;
}
.favorite i{
	color: #b7a9a9;
	margin-top: 20px;
	margin-left: 20px;

}

/*4.recently played*/
.recently-played{
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	/*background-color: red;	*/
	/*border: 1px solid white;*/
}
.back1{
	width: 63%;
	height: 100%;
	background-color: #0e1124;
	/*border: 1px solid white;*/
	overflow-y: scroll;
}
.back1::-webkit-scrollbar {
    display: none;
}
.back1 {
    -ms-overflow-style: none;
}
.back2{
	width: 63%;
	height: 100%;
	background-color: #0e1124;
	/*border: 1px solid white;*/
	overflow-y: scroll;
}
.back2::-webkit-scrollbar {
    display: none;
}
.back2 {
    -ms-overflow-style: none;
}
.roll-no{
	margin-top: 3%;
	margin-left: 2%;
	height: 65%;
	width: 10%;
	display: flex;
	justify-content: center;
	font-family: sans-serif;
	/*border: 1px solid white;*/
}
.roll-no span{
	color: #b7a9a9;
	font-size: 15px;
	margin-top: 20px;
}
.queue-songs{
	width: 100%;
	height: 100%;
	/*border: 1px solid white;*/
	display: flex;
	/*background-color: yellow;*/
	flex-direction: column;
}

/*5.lists of songs*/
.list-of-songs{
	width: 100%;
	height: 53%;
	margin-top: 7px;
	/*border: 1px solid white;*/
}
.list-songs{
	width: 100%;
	height: 17%;
	margin-top: 10px;
	background-color: #242941;
	/*border: 1px solid white;*/
	display: flex;
	flex-direction: row;
}
.roll-number{
	margin-top: 0.7%;
	margin-left: 0.1%;
	height: 65%;
	width: 4%;
	display: flex;
	/*border:1px solid white;*/
	justify-content: center;
	font-family: sans-serif;
}
.roll-number span{
	color: #b7a9a9;
	font-size: 15px;
	margin-top: 15px;
	margin-left: 2px;
}
.list-song-name{
	margin-top: 1%;
	height: 65%;
	width: 45%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.img-song{

	width: 5%;
	height: 70%;
	margin-top: 10px;
	/*border: 1px solid white;*/
}
.img-song img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
#list-album-name{
	color: white;
	font-size: 13px;
	margin-top: 5px;
	margin-left: 15px;
	font-family: 'Quicksand',sans-serif;
	font-weight: bold;
}
#list-artist-name{
	color: #cbc6c6;
	font-size: 12px;
	margin-top: 4px;
	margin-left: 15px;
	font-family: sans-serif;
}
.favorite-symbol{
	margin-top: 1%;
	height: 65%;
	width: 5%;
	margin-left:35%;
	/*border: 1px solid white;*/
	justify-content: center;
	flex-direction: column;
}
.favorite-symbol i{
	color: #b7a9a9;
	margin-top: 10px;
	margin-left: 20px;
}
.add-symbol{
	margin-top: 1%;
	height: 65%;
	width: 5%;
	margin-left:3%;
	/*border: 1px solid white;*/
	justify-content: center;
	flex-direction: column;
}
.add-symbol i{
	color: #b7a9a9;
	margin-top: 10px;
	margin-left:0px;
}

/* creating music playing container classes*/
.music-playing-container{
	width: 100%;
	height:70px;
	position: fixed;
	display: flex;
	flex-direction: row;
	bottom: 0;
	left: 0;
	/*border: 1px solid white;*/
	/*margin-right: 50px;*/
	background-color: #2d2c2b;
}
.songs-play-container{
	width: 18%;
	height: 55px;
	margin-left: 5%;
	display: flex;
	flex-direction: row;
	margin-top: 7px;
	/*border: 1px solid white;
*/
}
.song-duration-container{
	width: 35%;
	height: 65px;
	margin-left:10%;
	display: flex;
	flex-direction: column;
	/*border: 1px solid white;*/
}
.song-extra-container{
	width: 17%;
	height: 65px;
	margin-left: 10%;
	display: flex;
	flex-direction: row;
	/*border: 1px solid white;*/
}
.music-song-img{
	width: 19%;
	height: 95%;
	/*border: 1px solid white; */
}
.music-song-img img{
	width: 100%;
	height: 100%;
	border-radius: 2px;
	
}
.music-info-container{
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	/*border: 1px solid white; */
}
.mine{
	color: #b7a9a9;
	margin-top: 7px;
	margin-left: 10px;
}
.song-buttons-container{
	width: 100%;
	height: 60%;
	display: flex;
	flex-direction: row;
	/*border: 1px solid white; */
}
.shuffle{
	width: 4%;
	height: 50%;
	color: #bcb9b9;
	margin-top: 12px;
	margin-left: 25%;
	/*border: 1px solid white; */
}

.previus{
	width: 4%;
	height: 50%;
	color: #bcb9b9;
	float: right;
	margin-top: 12px;
	margin-left: 2%;
	/*border: 1px solid white; */
}
/*.previus i{
	color: white;
}*/
.pause{
	width: 6%;
	height: 60%;
	color: #bcb9b9;
	margin-top: 7px;
	margin-left: 1%;
	/*padding: 5px;*/
	/*border: 1px solid white; */
}
.pause i{
	font-size: 30px;
}
/*.pause1{
	width: 100%;
	height: 100%;
}*/
.forward{
	width: 4%;
	height: 50%;
	color: #bcb9b9;
	margin-top: 12px;
	margin-left: 2%;
	/*border: 1px solid white; */
}
.repeat{
	width: 4%;
	color: #bcb9b9;
	height: 50%;
	margin-top: 12px;
	margin-left: 2%;
	/*border: 1px solid white; */
}
.song-time-container{
	width: 100%;
	height: 18%;
	display: flex;
	margin-top: 8px;
	flex-direction: row;
	/*border: 1px solid white; */
}
.bar{
	display: flex;
	width: 65%;
	height: 4px;
	background-color: #b7a9a9;
	margin-left: 10px;
	margin-top: 3px;
	border-radius: 50px;
	overflow: hidden;
}
.bar span{
	height: 4px;
	float: left;
	background-color:#19b067;
}
.music-progress{
	width: 36%;
}
.start-music{
	color: #bcb9b9;
	font-size: 13px;
	/*margin-top: 2px;*/
	margin-left: 2%;
}
.dot{
	background-color: white;
    margin: 0 auto;
    display: inline-block;
    width: 10px;
    height: 10px;
    /*posiQueue-designtion: absolute;*/
    margin-left: -50%;
    border-radius: 50%;

}
.end-music{
	color: #bcb9b9;
	font-size: 13px;
	/*margin-top: 2px;*/
	margin-left: 3%;
}
.extra-icon-container{
	width: 100%;
	height: 70%;
	margin-top: 12px;
	display: flex;
	flex-direction: row;
	/*border: 1px solid white; */
}
.queue{
	width: 8%;
	color: #b7a9a9;
	height: 50%;
	margin-top: 13px;
	margin-left: 3%;
	/*border: 1px solid white; */
}
.Devices-Available{
	width: 8%;
	color: #b7a9a9;
	height: 50%;
	margin-top: 13px;
	margin-left: 3%;
	/*border: 1px solid white; */
}
.mute{
	width: 8%;
	color: #b7a9a9;
	height: 50%;
	margin-top: 13px;
	margin-left: 3%;
	/*border: 1px solid white; */
}
.bar-1{
	display: block;
	width: 40%;
	height: 4px;
	background-color: #b7a9a9;
	margin-left: 3%;
	margin-top: 20px;
	border-radius: 50px;
	overflow: hidden;
}
.bar-1 span{
	height: 4px;
	float: left;
	background-color:#19b067;
}
.dot-1{
	background-color: white;
    margin: 0 auto;
    display: inline-block;
    width: 12px;
    height: 12px;
    /*position: absolute;*/
    margin-top: 16px;
    margin-left: -25%;
    border-radius: 50%;

}
.volume-progress{
	width: 75%;
}
.screen-size{
	width: 9%;
	color: #b7a9a9;
	height: 50%;
	margin-top: 13px;
	margin-left:3%;
	/*border: 1px solid white; */
}

/*media queries*/
@media screen and (max-width: 1000px){
	.list-of-songs{
		height: 47%;
	}
	.img-song{
		width: 8%;
		margin-left: 2%;
	}
	.songs-play-container{
		width: 22%;
	}
	.song-duration-container{
		width: 36%;
	}
	.dot{
		margin-left: -53%;
	}
	.song-extra-container{
		width: 22%;
		margin-left: 5%;
	}
	.shuffle{
		margin-left: 28%;
	}
	.previus{
		margin-left: 3%;
	}
	.pause{
		margin-left: 3%;
	}
	.forward{
		margin-left: 5%;
	}
	.repeat{
		margin-left: 3%;
	}
	.start-music{
		margin-left: 4%;
	}
}
@media screen and (max-width: 900px){
	.logo-img{
		width: 20%;
		height: 100%;
		margin-left: 2%;
		margin-top: 10px;
	}
	.logo-img img{
		width: 100%;
		height: 100%;
	}
	.img-song{
		width: 6%;
	}
	.fontstyle{
		font-size: 18px;
	}
	/*search box*/
	.search-box{
		margin-left: 53%;
		width: 25%;
	}
	/*notification icon*/
	.notification{
		margin-left: 40%;
		font-size: 23px;
	}
	/*profile icon*/
	.profile{
		height:6%;
		width: 6%;
		margin-top: 10px;
		margin-left: 3%;
	}
	.part2{
		display: none;
	}
	.part1{
		width: 95vw;
	}
	/*.back2{
		width: 100%;
	}*/
}
@media screen and (max-width: 850px){
	
	.music-playing-container{
		height: 60px;
	}
	.songs-play-container{
		margin-right: 0px;
		height: 85%;
		width: 25%;
		margin-left: 2%;
	}
	.song-duration-container{
		height: 100%;

	}
	.img-song{
		width: 7%;
	}
	.shuffle{
		margin-left: 28%;
	}
	.previus{
		margin-left: 4%;
	}
	.pause{
		margin-left: 4%;
	}
	.forward{
		margin-left: 7%;
	}
	.repeat{
		margin-left: 4%;
	}
	.queue{
		margin-left:3%; 
	}
	.Devices-Available{
		margin-left: 4%;
	}
	.mute{
		margin-left: 4%;
	}
	.bar-1{
		margin-left: 4%;
	}
	.dot-1{

	}
	.screen-size{
		margin-left: 4%;
	}
	.start-music{
		margin-left: 3%;
	}
}
@media screen and (max-width: 800px){
	.logo-img{
		width: 20%;
		height: 100%;
		margin-left: 2%;
		margin-top: 4px;
	}
	.logo-img img{
		width: 100%;
		height: 100%;
	}
	.notification{
		margin-left: 37%;
		font-size: 19px;
	}
     .img-song{
		width: 8%;
	}
	.profile{
		height:7%;
		width: 7%;
		margin: auto;
	}

	.search-box{
		margin-left: 55%;
		width: 22%;
	}
}
@media screen and (max-width: 770px){
	.logo-img{
		width: 18%;
		height: 100%;
		margin-left: 2%;
		margin-top: 10px;
	}
	.logo-img img{
		width: 100%;
		height: 100%;
	}
	.song-extra-container{
		display: none;
	}
	.songs-play-container{
		margin-left: 5%;
		width: 34%;
	}
	.song-duration-container{
		margin-left: 7%;
		width: 50%;
	}
	.start-music{
		margin-left: 5%;
	}
}
@media screen and (max-width: 610px){
	.notification{
		display: block;
	}
	.logo-img{
		width: 22%;
		height: 100%;
		margin-left: 1%;
		margin-top: 8px;
	}
	.img-song{
		width: 9%;
	}
	.logo-img img{
		width: 100%;
		height: 100%;
	}

	.nav-header p{
		font-size: 22px;
		margin-left: 20px;
	}
	.fontstyle{
		display: none;
	}

	.search-box{
		width: 35%;
		margin-top: 15px;
		margin-left: 40%;
	}
	.notification{
		margin-top: 0px;
		margin-left: 55%;
		font-size:19px;
	}

	.profile{
		height:9%;
		width: 9%;
		margin-left: 5%;
	}
	.songs-play-container{
		display: none;
	}
	.song-duration-container{
		width: 70%;
		margin-left: 15%;
	}
}
@media screen and (max-width: 550px){
	.song-details{
		height: 45%;
	}
	.song-play-container{
		margin-top: 15%;
	}
	.favorite-symbol{
		margin-left: 20%;
	}
	.add-symbol{
		margin-left: 10%;
	}
	.img-song{
		width: 10%;
	}
}